	
	
	
	
	SELECT a3.PERSON_REF,a3.REF,A3.START_DATE,A3.END_DATE,A3.LEAVE_REASON,a4.LONG_DESC

	FROM 
	
	RAW_D580M  A3

	LEFT OUTER JOIN 
		RAW_D800M A4
	ON
		A4.NARRATIVE_CATEGORY='RSNCHG' 
	AND
		A4.NARRATIVE_CODE = A3.LEAVE_REASON
		WHERE A3.END_DATE<GETDATE()