/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [REF]
      ,[NUMBER_R]
      ,[SHORT_DESC]
      ,[LONG_DESC]
      ,[SECURITY_LEVEL]
      ,[GROUP_R]
      ,[SORT_CODE]
      ,[START_DATE]
      ,[OBS_DATE]
      ,[GRADE_PP_TABLE_ID]
      ,[GRADE_PP_BONUS_VALUE]
      ,[GRADE_PP_BONUS_UNIT_VALUE]
      ,[GRADE_PP_SALARY_BILL]
      ,[GRADE_PP_SALARY_BILL_PERC]
      ,[GRADE_TEACH_FLAG]
      ,[GRADE_HESA_FLAG]
      ,[GRADE_HAY_FLAG]
      ,[NOTE_REF]
      ,[HLGRADE_STAFF_GROUP]
      ,[HLGRADE_WHITLEY_COUNCIL_CODE]
      ,[HLGRADE_SALARY_IND]
      ,[GRADE_BAS_SAL_PE_ID]
      ,[GRADE_TCH_REG_PAY_SPINE]
      ,[GRADE_HESA_TABLE_IND]
      ,[GRADE_HESA_NAT_PAY_FRMWRK_IND]
      ,[GRADE_BAS_SAL_ALLOW_CHG_FLAG]
      ,[GRADE_ZONE]
      ,[GRADE_AGE_MIN]
      ,[GRADE_AGE_MAX]
      ,[GRADE_SERVICE_MIN]
      ,[GRADE_SERVICE_MAX]
      ,[GRADE_13TH_SALARY_FLAG]
      ,[GRADE_SPINAL_AUTO_CREATE]
      ,[GRADE_ML_ROW_REF]
      ,[GRADE_SUPP_RATE_CALC_MSG]
      ,[GRADE_ONBOARDING_CAMPAIGN_ID]
  FROM [H21_STAGING].[dbo].[raw_d400m]


  SELECT * FROM raw_d200m p
  INNER JOIN raw_d400m gd ON p.job_REF=gd.ref
  ORDER BY p.LONG_DESC



  
  SELECT p.SHORT_DESC,
         p.LONG_DESC,
         p.OBS_DATE,
         p.NOTE_REF,
         p.REF,
         p.NUMBER_R,
         p.JOB_REF,
         p.MIN_MAN_LEVEL,
         p.WORK_PATTERN_ID,
         p.OVERRIDE_HOURS,
         p.PENSIONABLE_FLAG,
         p.START_DATE,
         p.AUTH_BODY,
         p.AUTH_REF,
         p.AUTH_DATE,
         p.OBS_AUTH_BODY,
         p.OBS_AUTH_REF,
         p.OBS_AUTH_DATE,
         p.FUNDING_BODY,
         p.FUNDING_PCENT,
         p.RESP_PERS_OFF,
         p.RESP_RECR_OFF,
         p.ANALYSIS_CODE_ONE,
         p.ANALYSIS_CODE_TWO,
         p.ANALYSIS_CODE_THREE,
         p.VACANCY_FROZEN_FLAG,
         p.MPW_CODE_ID,
         p.MPW_MANUAL_FLAG,
         p.POL_RESTRICT_FLAG,
         p.CLASS,
         p.GRADE_USAGE_LEVEL,
         p.ADSS_LGMB_EMP_CAT,
         p.ADSS_LGMB_REPORT_PART,
         p.ADSS_SSDS_EMP_CAT,
         p.ADSS_SSDS_REPORT_PART,
         p.TAS618G_REPORT_ROW,
         p.TAS618G_POST_TYPE,
         p.POST_DEFAULT_FORM_ID,
         p.HLPOST_SPECIALTY,
         p.HLPOST_OCC_CODE,
         p.HLPOST_FUNCTION_GROUP,
         p.HLPOST_MD_2ND_SPECIALTY,
         p.HLPOST_MD_GP_VOC_SCHEME,
         p.HLPOST_MD_OCCASIONAL_SHS,
         p.HLPOST_MD_ROTATION_SCHEME,
         p.HLPOST_MD_NHD,
         p.HLPOST_MD_SESSION,
         p.HLPOST_NOTE_REF,
         p.HLPOST_USER_DATA_KEY_REF,
         p.HLPOST_MD_SCHEME,
         p.HLPOST_ORGANISATION_TYPE,
         p.HLPOST_HOUR_SESS_IND,
         p.HLPOST_LONDON_IND,
         p.HLPOST_JOB_TITLE,
         p.HLPOST_BANK_NURSE,
         p.HLPOST_MD_FLAG,
         p.POST_FREEZE_START_DATE,
         p.POST_FREEZE_END_DATE,
         p.POST_JSW_CONSTRUCT_FLAG,
         p.POST_PM_ROLE_ID,
         p.POST_DEF_CLAIM_FORM_ID,
         p.POST_ML_ROW_REF,
         p.POST_PROFILE_ID,
         p.POST_INTRANET_PROFILE_ID,
         p.POST_REPORT_ON_SIR,
         p.POST_MV_START_LEG_TYPE,
         p.POST_MV_USE_START_LEG,
         p.POST_SIR_APPORTION_1,
         p.POST_SIR_APPORTION_2,
         p.POST_SIR_APPORTION_3,
         p.POST_SIR_AREA_TAUGHT,
         p.POST_SIR_WORK_CAT,
         p.POST_EXCLUDE_EMP_DIR_FLAG,
         p.POST_ROLE_ID,
         p.POST_NEEDS_SUCCESSION_PLAN,
         p.POST_SICK_OVERHEAD_PERC	  FROM raw_d200m p



		 SELECT * FROM  raw_d260m p
		 INNER JOIN raw_d400m pm ON p.


		   SELECT  * FROM raw_d400m pm
		   SELECT TOP 1 * FROM  raw_d260m p

		   SELECT  i.short_desc,i.long_desc,m.long_desc post,i.ref,u.* FROM raw_d200m m 
		   INNER JOIN raw_d260m u ON m.ref=u.post_ref
		   INNER JOIN raw_d400m i ON i.ref=u.ref
		   WHERE m.REF=01007995 AND u.end_date IS null

		   SELECT * FROM dbo.REC_RESOURCELINK_ACTIVE_DIRECTORY
		   WHERE EMPLOYEE_USER_NAME LIKE '%nayakwa%'



		   
		   SELECT  i.short_desc,i.long_desc,m.long_desc post,i.ref,u.* FROM raw_d200m m 
		   INNER JOIN raw_d260m u ON m.ref=u.post_ref
		   INNER JOIN raw_d400m i ON i.ref=u.ref
		   WHERE u.end_date IS NULL AND m.OBS_DATE IS null
           ORDER BY u.POST_REF


		   SELECT * FROM raw_d200m m 
		   WHERE OBS_DATE IS NULL
           



		 
		   
		   
		  --SELECT * FROM raw_d455m
		  --WHERE HIERARCHY_ID='surve'
		  -- --INNER JOIN dbo.ORGANISATION_HIERARCHY_VIEW

		  ---#postHierarchyview
		  IF  OBJECT_ID('tempdb..#postHierarchyview') IS NOT NULL DROP TABLE #postHierarchyview

	 	   SELECT ap.NUMBER_R, pv.CHILD_ID,
                               pv.SHORT_DESC,
                               pv.L1,
                               pv.L2,
                               pv.L3,
                               pv.L4,
                               pv.L5,
                               pv.L6,
                               pv.L7,
                               pv.L8,
                               pv.D1,
                               pv.D2,
                               pv.D3,
                               pv.D4,
                               pv.D5,
                               pv.D6,
                               pv.D7,
                               pv.D8,
                               pv.C1,
                               pv.C2,
                               pv.C3,
                               pv.C4,
                               pv.C5,
                               pv.C6,
                               pv.C7,
                               pv.C8,
                               pv.r ,
							   'Surve' AS [Hierarchy_id]
							   INTO #postHierarchyview
		FROM dbo.RL_SURVE_HIERARCHY pv

           INNER JOIN raw_d455m y         ON y.PERS_STR_REF_LINK=pv.CHILD_ID
		   INNER JOIN raw_d200m ap ON ap.REF=y.EMP_POST_REF AND ap.OBS_DATE IS null
		   WHERE y.HIERARCHY_ID='surve' 

		   GROUP BY
		  ap.NUMBER_R, pv.CHILD_ID,
                               pv.SHORT_DESC,
                               pv.L1,
                               pv.L2,
                               pv.L3,
                               pv.L4,
                               pv.L5,
                               pv.L6,
                               pv.L7,
                               pv.L8,
                               pv.D1,
                               pv.D2,
                               pv.D3,
                               pv.D4,
                               pv.D5,
                               pv.D6,
                               pv.D7,
                               pv.D8,
                               pv.C1,
                               pv.C2,
                               pv.C3,
                               pv.C4,
                               pv.C5,
                               pv.C6,
                               pv.C7,
                               pv.C8,
                               pv.r 
		




		      
     INSERT INTO #postHierarchyview 


	 	   SELECT ap.NUMBER_R, pv.CHILD_ID,
                               pv.SHORT_DESC,
                               pv.L1,
                               pv.L2,
                               pv.L3,
                               pv.L4,
                               pv.L5,
                               pv.L6,
                               pv.L7,
                               pv.L8,
                               pv.D1,
                               pv.D2,
                               pv.D3,
                               pv.D4,
                               pv.D5,
                               pv.D6,
                               pv.D7,
                               pv.D8,
                               pv.C1,
                               pv.C2,
                               pv.C3,
                               pv.C4,
                               pv.C5,
                               pv.C6,
                               pv.C7,
                               pv.C8,
                               pv.r 
							   ,'Pers' AS Hierarchy_id
		FROM dbo.RL_PERS_HIERARCHY pv

           INNER JOIN raw_d455m y         ON y.PERS_STR_REF_LINK=pv.CHILD_ID
		   INNER JOIN raw_d200m ap ON ap.REF=y.EMP_POST_REF AND ap.OBS_DATE IS null
		   WHERE y.HIERARCHY_ID='pers' 

		   GROUP BY
		  ap.NUMBER_R, pv.CHILD_ID,
                               pv.SHORT_DESC,
                               pv.L1,
                               pv.L2,
                               pv.L3,
                               pv.L4,
                               pv.L5,
                               pv.L6,
                               pv.L7,
                               pv.L8,
                               pv.D1,
                               pv.D2,
                               pv.D3,
                               pv.D4,
                               pv.D5,
                               pv.D6,
                               pv.D7,
                               pv.D8,
                               pv.C1,
                               pv.C2,
                               pv.C3,
                               pv.C4,
                               pv.C5,
                               pv.C6,
                               pv.C7,
                               pv.C8,
                               pv.r 
		



	
	SELECT r.[Location Number ],
           r.Location,
           r.post_number,
           r.[Post Title],
           r.[default grade],
           r.[PERS STR LEVEL 1 LONG_DESC],
           r.[PERS STR LEVEL 2 LONG_DESC],
           r.[PERS STR LEVEL 3 LONG_DESC],
           r.[PERS STR LEVEL 4 LONG_DESC],
           r.[PERS STR LEVEL 5 LONG_DESC],
           r.[PERS STR LEVEL 6 LONG_DESC],
           r.[PERS STR LEVEL 7 LONG_DESC],
           r.[PERS STR LEVEL 8 LONG_DESC],
           r.Hierarchy_id
            FROM
    (

		  SELECT        ld.LOCATION_NUMBER [Location Number ],ld.LONG_DESC [Location],
		         m.NUMBER_R [post_number],m.LONG_DESC [Post Title],i.long_desc [default grade],
                                                                                                           
                                                                                                           
                                                                                                            pv.D1 [PERS STR LEVEL 1 LONG_DESC],
                                                                                                            pv.D2 [PERS STR LEVEL 2 LONG_DESC],
                                                                                                            pv.D3 [PERS STR LEVEL 3 LONG_DESC],
                                                                                                            pv.D4 [PERS STR LEVEL 4 LONG_DESC],
                                                                                                            pv.D5 [PERS STR LEVEL 5 LONG_DESC],
                                                                                                            pv.D6 [PERS STR LEVEL 6 LONG_DESC],
                                                                                                            pv.D7 [PERS STR LEVEL 7 LONG_DESC],
                                                                                                            pv.D8 [PERS STR LEVEL 8 LONG_DESC],
                                                                                                           
                                                                                                            pv.Hierarchy_id
																											,
																											ROW_NUMBER() OVER (partition BY m.number_r ORDER BY CASE WHEN ld.long_desc='Undefined' THEN 'zz' ELSE ld.long_desc end)    rn



																
																  
		    FROM raw_d200m m 
		 left JOIN raw_d260m u ON m.ref=u.post_ref
		   left JOIN raw_d400m i ON i.ref=u.ref
		  left JOIN raw_d230m lu ON lu.POST_REF=m.REF
		   LEFT JOIN raw_d850m ld ON ld.LOCATION_REF=lu.REF
		   
		   LEFT JOIN raw_d455m pn ON pn.EMP_POST_REF=m.REF
		   LEFT JOIN #postHierarchyview pv ON pv.CHILD_ID=pn.PERS_STR_REF_LINK AND pn.HIERARCHY_ID=pv.Hierarchy_id
		   WHERE u.end_date IS NULL AND m.OBS_DATE IS NULL --- AND m.NUMBER_R='1519'
          
	
	
	
	
	) r
	WHERE rn=1
	
	--SELECT * FROM dbo.REC_RESOURCELINK_ACTIVE_DIRECTORY
	--WHERE EMPLOYEE_END_DATE>GETDATE() AND EMPLOYEE_POST_END_DATE>GETDATE()
	
	--SELECT * FROM dbo.RAW_D200M
	--WHERE (OBS_DATE IS NULL OR OBS_DATE>GETDATE())
	
	
	SELECT * FROM raw_d260m u
		WHERE END_date IS NULL

--		SELECT u.NUMBER_R ,l.LONG_DESC,u.SHORT_DESC FROM raw_d230m m
--		INNER JOIN dbo.RAW_D850M l ON m.REF=l.LOCATION_REF
--		INNER JOIN dbo.RAW_D200M u ON u.REF=m.POST_REF
--	WHERE    u.OBS_DATE IS NULL AND l.OBS_DATE IS NULL AND  TRY_CONVERT(INT,u.NUMBER_R) IN 


--	(34	,
--35	,
--76	,
--100	,
--159	,
--166	,
--172	,
--182	,
--187	,
--194	,
--195	,
--196	,
--273	,
--550	,
--1151	,
--1152	,
--1155)	,
--1198	,
--1221	,
--1242	,
--1296	,
--1297	,
--1300	,
--1326	,
--1327	,
--1328	,
--1329	,
--1333	,
--1341	,
--1349	,
--1352	,
--1357	,
--1361	,
--1362	,
--1363	,
--1368	,
--1369	,
--1414	,
--1416	,
--1423	,
--1431	,
--1435	,
--1490	,
--1491	,
--1515	,
--1517	,
--1519	,
--1520	,
--1548	,
--1553	,
--1560	,
--1564	,
--1567	,
--1579	,
--1584	,
--1585	,
--1616	,
--1620	,
--1621	,
--1635	,
--1637	,
--1638	,
--1656	,
--1657	,
--1658	,
--1659	,
--1660	,
--1661	,
--1662	,
--1663	,
--1664	,
--1665	,
--1666	,
--1667	,
--1668	,
--1669	,
--1670	,
--1671	,
--1672	,
--1673	,
--1677	,
--1678	,
--1683	,
--1705	,
--1706	,
--1707	,
--1708	,
--1712	,
--1713	,
--1714	,
--1735	,
--1736	,
--1737	,
--1738	,
--1739	,
--1740	,
--1741	,
--1742	,
--1743	,
--1744	,
--1745	,
--1746	,
--1751	,
--1753	,
--1757	,
--1758	,
--1759	,
--1760	,
--1761	,
--1762	,
--1763	,
--1764	,
--1765	,
--1766	,
--1767	,
--1768	,
--1769	,
--1770	,
--1772	,
--1827	,
--1830	,
--1849	,
--1850	,
--1851	,
--1852	,
--1853	,
--1855	,
--1856	,
--1857	,
--1858	,
--1859	,
--1860	,
--1861	,
--1862	,
--1863	,
--1864	,
--1865	,
--1866	,
--1870	,
--1881	,
--1925	,
--1946	,
--1953	,
--1962	,
--1977	,
--1981	,
--1982	,
--1984	,
--1985	,
--1987	,
--1998	,
--2007	,
--2008	,
--2009	,
--2017	,
--2023	,
--2063	,
--2066	,
--2098	,
--2101	,
--2102	,
--2105	,
--2106	,
--2107	,
--2108	,
--2111	,
--2113	,
--2133	,
--2134	,
--2158	,
--2159	,
--2161	,
--2164	,
--2165	,
--2526	,
--2637	,
--2682	,
--2688	,
--2692	,
--2693	,
--2694	,
--2700	,
--2723	,
--2724	,
--2810	,
--2812	,
--2835	,
--2861	,
--2862	,
--2891	,
--2892	,
--3045	,
--3046	,
--3047	,
--3048	,
--3049	,
--3050	,
--3051	,
--3052	,
--3053	,
--3054	,
--3055	,
--3077	,
--3082	,
--3140	,
--3272	,
--3446	,
--3465	,
--3626	,
--3638	,
--3683	,
--3686	,
--3737	,
--3819	,
--3836	,
--3839	,
--3840	,
--4051	,
--4126	,
--4138	,
--4150	,
--4185	,
--4189	,
--4200	,
--4248	,
--4308	,
--4343	,
--4355	,
--4358	,
--4364	,
--4365	,
--4473	,
--4477	,
--4572	,
--4600	,
--4601	,
--4666	,
--4695	,
--4696	,
--4726	,
--4755	,
--4784	,
--4825	,
--4862	,
--4908	,
--4915	,
--4918	,
--4971	,
--4982	,
--5270	,
--5283	,
--5355	,
--5393	,
--5394	,
--5507	,
--5556	,
--5587	,
--5599	,
--5619	,
--5620	,
--5661	,
--5671	,
--5679	,
--5916	,
--6045	,
--6130	,
--6131	,
--6166	,
--6178	,
--6180	,
--6181	,
--6193	,
--6227	,
--6261	,
--6290	,
--6342	,
--6343	,
--6346	,
--6365	,
--6430	,
--6500	,
--6553	,
--6568	,
--6580	,
--6581	,
--6583	,
--6586	,
--6587	,
--6588	,
--6589	,
--6593	,
--6596	,
--6599	,
--6610	,
--6611	,
--6627	,
--6639	,
--6679	,
--6698	,
--6742	,
--6750	,
--6761	,
--6819	,
--6820	,
--6855	,
--6921	,
--6987	,
--6991	,
--6997	,
--7059	,
--7079	,
--7089	,
--7096	,
--7110	,
--7151	,
--7211	,
--7231	,
--7240	,
--7246	,
--7277	,
--7280	,
--7401	,
--7452	,
--7465	,
--7485	,
--7492	,
--7512	,
--7513	,
--7522	,
--7571	,
--7587	,
--7646	,
--7655	,
--7656	,
--7672	,
--7676	,
--7698	,
--7703	,
--7716	,
--7718	,
--7720	,
--7721	,
--7724	,
--7727	,
--7732	,
--7733	,
--7737	,
--7739	,
--7742	,
--7743	,
--7768	,
--7769	,
--7770	,
--7771	,
--7778	,
--7780	,
--7787	,
--7806	,
--7823	,
--7825	,
--7826	,
--7830	,
--7833	,
--7838	,
--7840	,
--7842	,
--7848	,
--7854	,
--7860	,
--7878	,
--7899	,
--7907	,
--7916	,
--7927	,
--7944	,
--7945	,
--7951	,
--7952	,
--7966	,
--7998	,
--7999	,
--8042	,
--8075	,
--8076	,
--8082	,
--8083	,
--8084	,
--8085	,
--8086	,
--8087	,
--8088	,
--8089	,
--8090	,
--8091	,
--8092	,
--8096	,
--8097	,
--8098	,
--8103	,
--8113	,
--8114	,
--8115	,
--8132	,
--8133	,
--8134	,
--8208	,
--8215	,
--8229	,
--8235	,
--8241	,
--8247	,
--8253	,
--8254	,
--8255	,
--8256	,
--8266	,
--8277	,
--8319	,
--8323	,
--8324	,
--8325	,
--8328	,
--8329	,
--8339	,
--8342	,
--8343	,
--8344	,
--8345	,
--8375	,
--8384	,
--8398	,
--8399	,
--8400	,
--8408	,
--8412	,
--8419	,
--8430	,
--8457	,
--8463	,
--8468	,
--8469	,
--8476	,
--8481	,
--8487	,
--8490	,
--8494	,
--8499	,
--8507	,
--8511	,
--8526	,
--8538	,
--8553	,
--8566	,
--8591	,
--8599	,
--8611	,
--8612	,
--8615	,
--8616	,
--8629	,
--8630	,
--8631	,
--8632	,
--8633	,
--8634	,
--8637	,
--8642	,
--8645	,
--8656	,
--8657	,
--8666	,
--8667	,
--8669	,
--8671	,
--8713	,
--8728	,
--8734	,
--8739	,
--8742	,
--8753	,
--8757	,
--8769	,
--8782	,
--8784	,
--8789	,
--8796	,
--8797	,
--8802	,
--8807	,
--8808	,
--8814	,
--8816	,
--8817	,
--8894	,
--8897	,
--8898	,
--8899	,
--8900	,
--8901	,
--8902	,
--8903	,
--8998	,
--9002	,
--9003	,
--9005	,
--9008	,
--9009	,
--9011	,
--9012	,
--9013	,
--9014	,
--9015	,
--9016	,
--9017	,
--9018	,
--9020	,
--9022	,
--9024	,
--9028	,
--9055	,
--9057	,
--9058	,
--9059	,
--9061	,
--9062	,
--9066	,
--9089	,
--9090	,
--9092	,
--9096	,
--9100	,
--9101	,
--9112	,
--9134	,
--9136	,
--9137	,
--9138	,
--9139	,
--9140	,
--9163	,
--9168	,
--9237	,
--9280	,
--9290	,
--9293	,
--9314	,
--9315	,
--9341	,
--9342	,
--9347	,
--9348	,
--9349	,
--9350	,
--9351	,
--9393	,
--9394	,
--9401	,
--9421	,
--9448	,
--9449	,
--9450	,
--9451	,
--9452	,
--9453	,
--9454	,
--9455	,
--9456	,
--9457	,
--9458	,
--9459	,
--9460	,
--9461	,
--9462	,
--9463	,
--9464	,
--9465	,
--9466	,
--9467	,
--9468	,
--9469	,
--9470	,
--9471	,
--9472	,
--9473	,
--9474	,
--9475	,
--9476	,
--9477	,
--9478	,
--9479	,
--9480	,
--9482	,
--9483	,
--9755	,
--9756	,
--9757	,
--9758	,
--9759	,
--9760	,
--9761	,
--9762	,
--9763	,
--9764	,
--9824	,
--9871	,
--9911	,
--9912	,
--9913	,
--9914	,
--9922	,
--9923	,
--9937	
--)




SELECT     m.NUMBER_R 
    FROM raw_d200m m 
		 left JOIN raw_d260m u ON m.ref=u.post_ref
		   --left JOIN raw_d400m i ON i.ref=u.ref

		   WHERE   m.OBS_DATE IS NULL  AND u.END_DATE IS NULL
           GROUP BY m.NUMBER_R
		   HAVING COUNT(*)>1
